@charset "utf-8";

html {
    font-size:16px;
    box-sizing: border-box;
    color: rgba(245, 245, 245, 0.801);
    font-family: 'Abel', sans-serif;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body{
    margin: 0;
    background-color: darkgrey;
}

header{
    padding-left: 10px;
    text-align: center;
}

main{
    flex: 1;
}

footer{
    background-color: darkslategrey;
    padding: 15px;
    border-top: 1px solid black;
}

h4{
    padding-left: 10px;
    margin: 0;
}

pre{
    padding-left: 0;
    white-space: pre-wrap;
    font-family: 'Abel', sans-serif;

}


.tab-container{
    background-image: linear-gradient(24deg, #0a4e1b 5%, #338b9f 93%);
    display: flex;
    justify-content: flex-start;
    max-width: 80%;
    margin: auto;
    flex-wrap: wrap;
}

.step-tab{
    margin-right: 0;
    padding: 10px;
    background-color: rgb(83, 85, 81);
    cursor: pointer;
}

.active-tab{
    color: whitesmoke;
    border-bottom: none;
    background-color: rgba(245, 245, 245, 0.2);


}

.step-tab span {
    margin: 0;
    font-weight: 800;
}

.step-content{
    background-image: linear-gradient(24deg, #0a4e1b 5%, #338b9f 93%);
    padding: 10px;
    border-radius: 4px;
    display: none;
    margin: 0px 20px 20px 20px;
    transition: 2s;
}

.active-content{
    display: grid;
    transition: 2s;
}

.article-a{
    background-image: linear-gradient(135deg, #3734cf 18%, #334c54 91%);
    border: solid 2px rgba(245, 245, 245, 0.582);
    border-radius: 18px;
    padding: 10px;
    margin: 0 10px 10px 10px
}

.fa-flask{
    color: rgb(150, 150, 226);
    padding-left: 5px;
    opacity: 0.8;
}

.how-it-works-content{
    background-image: linear-gradient(189deg, #838462 3%, #a0b0b3 93%);
    color: black;
    display: none;
    padding: 40px;
    max-width: 80%;
    margin: auto;
    transition: 3s;
}

.how-it-works-content-revealed{
    display: block;
}

.btn-how-it-works{
    background-color: #72666a;
    margin-left: 10%;
    margin-right: auto;
    color: lightgreen;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}


#wrapper{
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(135deg, #2f272a 10%, #191513 94%);
    margin: auto;
    max-width: 1024px;
    min-height: 100vh;
    border: 1px solid black;
}

@media (min-width: 722px) {
    .article-box{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .tab-container{
        flex-wrap: nowrap;
    }
}